SECRET_TOKEN=tua_password_segreta_qui
VITE_SUPABASE_PUBLISHABLE_KEY=tua_chiave_pubblica_supabase_qui
VITE_SUPABASE_URL=https://tuo-progetto.supabase.co
VITE_SITE_URL=https://tuo-sito-qui 
VITE_SITE_NOINDEX=false
VITE_TURNSTILE_SITE_KEY=tua_chiave_pubblica